.cosmos {
  padding: 60px 0;

  background-image: url('./images/cosm-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include for-size(tablet) {
    padding: 120px 150px;
    background-image: url('./images/cosm-bg-desktop.jpg');
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;

    text-align: center;

    color: #ffffff;

    @include for-size(desktop) {
      font-size: 36px;
    }
  }
}

.cosmos__card-list {
  margin-top: 40px;

  @include for-size(desktop) {
    display: flex;
  }
}

.cosmos__card {
  width: 100%;
  border: none;
  background: transparent;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include for-size(desktop) {
    max-height: 517px;
    margin-bottom: 0;
    align-items: center;
  }

  &-body {
    padding: 48px 36px 40px;
    text-align: center;

    background: #ffffff;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;

    @include for-size(desktop) {
      width: 322px;
      padding: 48px 40px;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;

    text-align: center;

    color: #000000;

    @include for-size(desktop) {
      font-size: 20px;
    }
  }

  &-text-first {
    margin-top: 14px;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;

    text-align: center;

    color: #007eb6;
  }

  &-text-second {
    margin-top: 14px;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;

    text-align: center;

    color: #000000;
  }

  &-btn {
    width: 100%;
    margin-top: 24px;
    padding: 11px 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;

    text-align: center;

    color: #ffffff;

    background: #fa8334;
    border-radius: 8px;
    border: none;

    @include for-size(desktop) {
      font-size: 18px;
    }
  }
}

.cosmos__img {
  @include for-size(desktop) {
    width: 322px;
  }
}
