.earn {
  padding: 0 0 60px;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;

    color: #000000;

    @include for-size(tablet) {
      margin-left: 0;
      font-size: 36px;
    }

    @include for-size(desktop) {
      margin-left: 50px;
      font-size: 36px;
    }
  }
}

.earn__list-item {
  position: relative;
  min-height: 64px;

  padding: 15px 35px 15px 49px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;

  color: rgba(0, 0, 0, 0.8);

  background: linear-gradient(90deg, #fa8334 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
  border: none;

  @include for-size(tablet) {
    max-height: 124px;
    padding: 37px 85px 31px 132px;
    font-size: 20px;
  }

  &--part {
    display: contents;
    font-weight: bold;
  }

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.earn__img {
  position: absolute;
  top: 17px;
  left: 15px;

  display: flex;

  width: 20px;

  margin-right: 20px;

  @include for-size(tablet) {
    width: 44px;
    height: 56px;
    margin-right: 40px;

    top: 30px;
    left: 48px;
  }
}
