.form-section {
  padding: 40px 0 60px;

  @include for-size(desktop) {
    padding: 0;
  }
}

.form {
  padding: 60px 24px;

  background: radial-gradient(
      53.67% 23.32% at 53.67% 70.24%,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(36px);

  border-radius: 10px;

  

  @include for-size(tablet) {
    max-width: 381px;
    margin-left: auto;
    margin-right: auto;
    
  }

  @include for-size(desktop) {
    padding: 80px 48px;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;

    text-align: center;

    color: #000000;

    @include for-size(desktop) {
      color: #ffffff;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px 32px;
    margin-top: 40px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    color: #ffffff;

    background: #fa8334;
    border-radius: 8px;
  }
}

.input_wrapper {
  margin-top: 24px;

  & input {
    display: block;
    width: 100%;
    padding: 10px;

    background: rgba(255, 255, 255, 0.27);
    border: 1px solid #000000;
    border-radius: 4px;

    @include for-size(desktop) {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      border: none !important;
      min-height: 46px;
      background: rgba(255, 255, 255, 0.27) !important;
      border: 1px solid #ffffff !important;
    }
  }

  & input:not(:last-child) {
    margin-bottom: 24px;
  }

  & input::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6;

    text-align: start;

    color: #000000;

    @include for-size(desktop) {
      color: #ffffff !important;
    }
  }
}

.iti__flag-container {
  @include for-size(desktop) {
    background: #e3e3e3;
    border-radius: 4px 0px 0px 4px;
  }
}

form input.err:focus,
form input.err {
  margin-bottom: 0 !important;
}
