.greet {
  padding: 60px 0;

  background: linear-gradient(
    0deg,
    #fa8334 -41.08%,
    rgba(196, 196, 196, 0) 100%
  );

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;

    text-align: center;

    color: #005277;
  }

  &__text {
    margin-top: 40px;

    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;

    text-align: center;

    color: #000000;
  }

  &__earning {
    margin-top: 24px;

    font-weight: bold;
    font-size: 54px;
    line-height: 1.6;

    text-align: center;

    color: #fa8334;
  }

  &__quest {
    margin-top: 41px;

    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;

    text-align: center;

    color: #005277;
  }

  &__register {
    width: 100%;
    margin-top: 32px;
  }
}

// Форма

.form {
  padding: 60px 24px;
  margin-top: 40px;

  background: radial-gradient(
      53.67% 23.32% at 53.67% 70.24%,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(36px);

  border-radius: 10px;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;

    text-align: center;

    color: #000000;
  }

  &__btn {
    width: 100%;
    padding: 10px 32px;
    margin-top: 40px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    color: #ffffff;

    background: #fa8334;
    border-radius: 8px;
  }
}

.input_wrapper {
  margin-top: 24px;

  & input {
    display: block;
    width: 100%;
    padding: 10px;

    background: rgba(255, 255, 255, 0.27);
    border: 1px solid #000000;
    border-radius: 4px;
  }

  & input:not(:last-child) {
    margin-bottom: 24px;
  }

  & input::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6;

    text-align: start;

    color: #000000;
  }
}
