.greet {
  padding: 60px 0;

  background: linear-gradient(
    0deg,
    #fa8334 -41.08%,
    rgba(196, 196, 196, 0) 100%
  );

  & .container {
    // @include for-size(tablet) {
    //   display: flex;
    //   justify-content: space-between;
    //   padding: 75px 0;
    // }

    @include for-size(desktop) {
      display: flex;
      justify-content: space-between;
      padding: 75px 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.6;

    text-align: center;

    color: #005277;

    @include for-size(tablet) {
      font-size: 32px;
    }
  }

  &__text {
    margin-top: 40px;

    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;

    text-align: center;

    color: #000000;

    @include for-size(tablet) {
      font-size: 24px;
    }
  }

  &__earning {
    margin-top: 24px;

    font-weight: bold;
    font-size: 54px;
    line-height: 1.6;

    text-align: center;

    color: #fa8334;
  }

  &__quest {
    margin-top: 41px;

    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;

    text-align: center;

    color: #005277;

    @include for-size(tablet) {
      font-size: 32px;
      margin-bottom: 0;
    }
  }

  &__register {
    width: 100%;
    margin-top: 32px;

    @include for-size(desktop) {
      display: none;
    }
  }

  &__register-desktop {
    display: none;

    @include for-size(desktop) {
      display: block;
      margin-top: 40px;
      margin-left: -135px;
    }
  }

  &__arrow-container {
    position: relative;
  }
}

.register-text-desktop {
  position: absolute;
  left: 200px;
  bottom: 9px;
  display: none;

  @include for-size(desktop) {
    display: block;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.11em;

    color: #ffffff;
  }
}

// Форма

.greet__form {
  padding: 60px 24px;
  margin-top: 40px;

  background: radial-gradient(
      53.67% 23.32% at 53.67% 70.24%,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(36px);

  border-radius: 10px;

  @include for-size(desktop) {
    padding: 80px 48px;
    margin-top: 0;
    max-width: 381px;

    background: radial-gradient(
        125.35% 125.35% at 34.51% 95.24%,
        rgba(255, 255, 255, 0.46) 0%,
        rgba(250, 131, 52, 0.46) 100%
      ),
      rgba(255, 255, 255, 0.3);
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;

    text-align: center;

    color: #000000;

    @include for-size(desktop) {
      width: 195px;
      margin-right: auto;
      margin-left: auto;
      color: #005277;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px 32px;
    margin-top: 40px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    color: #ffffff;

    background: #fa8334;
    border-radius: 8px;
  }
}

.form__btn {
  @include for-size(desktop) {
    padding: 9px 42px;
    font-size: 18px !important;
  }
}

.input_wrapper {
  margin-top: 24px;

  & input {
    display: block;
    width: 100%;
    padding: 10px;

    background: rgba(255, 255, 255, 0.27);
    border: 1px solid #000000;
    border-radius: 4px;

    @include for-size(desktop) {
      border: 1px solid rgba(0, 0, 0, 0.4) !important;
    }
  }

  & input:not(:last-child) {
    margin-bottom: 24px;
  }

  & input::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.6;

    text-align: start;

    color: #000000;

    @include for-size(desktop) {
      font-size: 14px;

      color: rgba(0, 0, 0, 0.4) !important;
    }
  }
}

.iti--separate-dial-code .iti__selected-flag {
  @include for-size(desktop) {
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    border-right: none !important;
    height: 45px;
  }
}
