.license-earn-block .container {
  @include for-size(tablet) {
    text-align: center;
  }

  @include for-size(desktop) {
    padding: 120px 0;
    display: flex;
    align-items: center;
  }
}

.license {
  padding: 60px 16px 40px;

  @include for-size(desktop) {
    padding: 0;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;

    color: #000000;

    @include for-size(tablet) {
      font-size: 18px;
      margin-bottom: 15px;
    }

    @include for-size(desktop) {
      display: none;
    }
  }

  &__title-desktop {
    display: none;

    @include for-size(desktop) {
      display: inline-block;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      margin-right: 105px;
    }
  }

  &__title--part {
    font-weight: 600;
  }

  &_img {
    margin-top: 24px;
    width: 100%;

    @include for-size(tablet) {
      display: none;
    }
  }

  &_img-desktop {
    display: none;

    @include for-size(tablet) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    @include for-size(desktop) {
      display: block;
      margin-bottom: 24px;
      margin-right: 97px;
    }
  }
}
