.payment {
  padding: 32px 0 48px;
  background: #f9fbfe;

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;

    color: #000000;

    @include for-size(tablet) {
      font-size: 36px;
      line-height: 1.4;

      width: 800px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__title--part {
    color: #fa8334;

    @include for-size(tablet) {
      font-size: 36px;
      line-height: 1.4;
    }
  }

  &__img {
    width: 100%;
    margin-top: 36px;

    @include for-size(tablet) {
      display: none;
    }
  }

  &__img-desktop {
    display: none;

    @include for-size(tablet) {
      display: block;
      width: 100%;
    }
  }
}
